<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head'); %>
	<title>Mini Terminal</title>
</head>
<body>

	<%- include('./partials/header'); %>
	
    <pre>
	<code>
	# commands sample
	$ whoami
	$ echo ${PWD}
	$ mkdir MyFirstFolder
	$ touch MyFirstFolder/my-first-shell.sh
	$ ls 
	# ...
	</code>
	</pre>
	
	<%- include('./partials/footer'); %>	
 
</body>
</html>